body{
    background-color:rgb(255, 226, 190);

    padding-top:1%;
    margin: 0px 120px 0px 120px;
}
.pending-container, .completed-container, .trash-container {
    color:rgb(255, 217, 170);
    text-align: center;
    width: 280px;
    margin-top: 50px;
    padding-bottom: 25px;
    background-color:hsl(212, 100%, 21%);
    background-image:url("https://www.transparenttextures.com/patterns/cubes.png");
}
.card{
    color:rgb(255, 255, 255);
    background-color:#bc56ff;
    /* background-color:#6a49ff; */
    /* background-image:url("https://www.transparenttextures.com/patterns/brushed-alum.png"); */
    background-image:url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
    margin: 30px 20px;
    padding:10px;
    border-radius: 10px;
}

.Header{
    color: antiquewhite;
    background-color: #bc56ff;
    background-image:url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
}

.card-style{
    text-align: left;
}

.row-gap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-gap{
    margin-right:20px;
}

.btn{
    margin-left:  5px;
    
}



