body{
    margin:50px;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.card{
    /* width: 30rem; */
    border: 2px solid  black;
    background-color: #ffe8cc;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
}